/*Header*/

.flex_header
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    width: 100%;
    height: 10vh;

    z-index: 100;
    transition-property: background;
    transition-duration: 1.7s;
}
.firma_a
{
    height: 80%;
}
.firma_maviss
{
    height: 100%;
}
.flechita
{
    width: 3.3vw;
}
.bars-solid
{
    width:3.3vw;
    cursor: pointer;
}
/*nav*/
.nav_container
{
    position: fixed;
    left: 0;
    
    width: 100%;
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #000000bf;

    z-index: 50;
    transition-property: top;
    transition-duration: 1s;
}
.nav_container-ul
{
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    list-style: none;
}
.nav_container-ul a
{
    text-decoration: none;
    color: #ffffff;
}
.nav_container-ul li
{
    padding: 1px;
    letter-spacing: 1px;
    font-size: 2rem;
}