<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,400;0,600;0,700;0,900;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../style/normalize.css">
        <link rel="stylesheet" href="../style/estilo-cueva-imagenes.css">
    </head>
    <body>
        <main class = "main">
            
            <img src="../assets/media/img/Galery/_MG_4263.jpg" alt="" class= "img">
            <header class="header">
                <svg class="flechita" xmlns="http://www.w3.org/2000/svg" width="16.363" height="26.963" viewBox="0 0 16.363 26.963">
                    <path id="chevron-left-solid" d="M27.926,50.1l12-12a1.482,1.482,0,0,1,2.1,0l1.4,1.4a1.482,1.482,0,0,1,0,2.093l-9.511,9.554,9.51,9.555a1.481,1.481,0,0,1,0,2.093l-1.4,1.4a1.482,1.482,0,0,1-2.1,0l-12-12A1.482,1.482,0,0,1,27.926,50.1Z" transform="translate(-27.493 -37.662)" fill="#e8f5ff"/>
                </svg>
                <a href="../index.html" class="firma_a"><img src="../assets/media/img/Firma5_0.png" alt="Maviss Firm" class="firma_maviss"></a>
                <svg class="flechita_delante flechita" xmlns="http://www.w3.org/2000/svg" width="16.363" height="26.963" viewBox="0 0 16.363 26.963">
                    <path id="chevron-left-solid" d="M27.926,50.1l12-12a1.482,1.482,0,0,1,2.1,0l1.4,1.4a1.482,1.482,0,0,1,0,2.093l-9.511,9.554,9.51,9.555a1.481,1.481,0,0,1,0,2.093l-1.4,1.4a1.482,1.482,0,0,1-2.1,0l-12-12A1.482,1.482,0,0,1,27.926,50.1Z" transform="translate(-27.493 -37.662)" fill="#e8f5ff"/>
                </svg>
            </header>
            <article class="text">
                <h1 class="title">Title</h1>
                <div class="paragraph">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem repellendus officia vero quidem provident. 
                        Quibusdam maiores sed fugiat nam maxime esse! Eum, numquam incidunt totam non, in dolorum natus est aliquid corporis, 
                        excepturi maiores harum laboriosam facilis soluta veniam voluptatibus cum quaerat itaque ad fugiat officia. In voluptatem vel labore a distinctio aut, 
                        veritatis minus saepe, quod consequatur, soluta ullam facere repellat voluptate tempore sapiente quam minima voluptas. Sunt dolorum officia cumque rem. 
                        Commodi quam, ducimus saepe magni sequi neque quasi, eligendi rem laborum adipisci deleniti obcaecati omnis ea sapiente quis perspiciatis accusantium incidunt 
                        nisi, similique expedita autem deserunt necessitatibus voluptatum! Animi tempora voluptas modi expedita debitis eligendi exercitationem aliquam velit amet 
                        explicabo, quaerat, sunt dolorum nostrum voluptatem quidem! Cum vitae sunt quasi accusamus, ullam cupiditate quod, ab cumque repellat quae commodi eaque sequi 
                        tempora minima dolore molestiae accusantium illo earum provident, explicabo natus voluptate ipsum beatae! Et nostrum accusantium culpa excepturi dolores commodi 
                        laborum voluptatibus cumque quibusdam amet soluta veniam quia optio quos iure dolorem, iusto obcaecati ea alias, tenetur dolorum expedita mollitia, quaerat ipsum! 
                        Quasi odit, repellat magni commodi optio dolor aliquid corporis repellendus sequi deleniti laborum. Vel vero unde sapiente iste culpa dolor et laborum rem nostrum!
                    </p>
                </div>
            </article>
            
        </main>
    </body>
</html>