<!DOCTYPE html>
<html lang="es">
    <body>
        <header>
            <span>
                <button><a href="../index.html">&#8249;</a></button>
                Volver
            </span>
            <span>
                <h1>Postales Maviss</h1>
            </span>
        </header>
    </body>
    <section>
        <img src="../assets/media/img/Puerto Cartagena.JPG" alt="" width="500">
        <img src="../assets/media/img/IMG_2175.JPG" alt="" width="500">
        <img src="../assets/media/img/IMG_2212.JPG" alt="" width="500">
        <img src="../assets/media/img/IMG_2847.JPG" alt="" width="500">
        <img src="../assets/media/img/IMG_3528.JPG" alt="" width="500">
        <img src="../assets/media/img/IMG_3692.JPG" alt="" width="500">
        <img src="../assets/media/img/IMG_1800.JPG" alt="" width="500">
        <img src="../assets/media/img/IMG_1848.JPG" alt="" width="500">
        <img src="../assets/media/img/IMG_3764.JPG" alt="" width="500">
        <img src="../assets/media/img/IMG_1802.JPG" alt="" width="500">
        <img src="../assets/media/img/IMG_3249.JPG" alt="" width="500">
        <img src="../assets/media/img/IMG_0900" alt="">

    </section>
    <section>

    </section>
</html>